<link href="{{ .Page.Permalink }}" rel="canonical">
<link href="{{ "/atom.xml" | absURL }}" rel="alternate" title="{{ .Site.Title }} Atom" type="application/atom+xml">
<link href="{{ "/index.xml" | absURL }}" rel="alternate" title="{{ .Site.Title }} RSS" type="application/rss+xml">
<link href="{{ "/sitemap.xml" | absURL }}" rel="sitemap" title="{{ .Site.Title }} Sitemap" type="application/xml">
<link href="{{ " rel="author"/humans.txt" | absURL }}" />
<link href="{{ " rel="alternate" title="FOAF" type="application/rdf+xml"/foaf.rdf" | absURL }}">
<link href="https://creativecommons.org/publicdomain/zero/1.0/" rel="license">
