{{ define "title" }}
    {{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}
{{ define "main" }}
    <h1 class="post-titel">
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h1>
    {{ .Content }}
    {{ with .Pages }}
        <ul class="page-index">
            {{ range . }}
                <li class="page-index-item">
                    <a class="page-index-link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    {{ with .Description }}
                        <p class="page-index-desc">{{ . }}</p>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
