{{ define "title" }}
    {{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}
{{ define "main" }}
    <h1 class="post-titel">
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
        {{ if and .File .Site.Params.github .Site.Params.editContentPath }}
            {{ $branch := .Site.Params.editBranch | default "main" }}
            <a href="https://github.com/{{ .Site.Params.github }}/commits/{{ $branch }}/{{ .Site.Params.editContentPath }}/{{ .File.Path }}" title="see history">
                <img src="{{ "/images/history.svg" | absURL }}" height="16" width="14" class="icon svgimg" alt="see history">
            </a>
            <a href="https://github.com/{{ .Site.Params.github }}/edit/{{ $branch }}/{{ .Site.Params.editContentPath }}/{{ .File.Path }}" title="edit this page">
                <img src="{{ "/images/pencil.svg" | absURL }}" height="16" width="14" class="icon svgimg" alt="edit this page">
            </a>
        {{ end }}
    </h1>
    {{ with .Params.tags }}
        <div class="subtitle">
            Talks about:
            {{ $links := slice }}
            {{ range sort . }}
                {{ $links = $links | append (partial "body/post-tag-link" . | chomp) }}
            {{ end }}
            {{ delimit $links ", " ", and " | safeHTML }}
        </div>
    {{ end }}
    <div id="post-content">
        {{ .Content }}
    </div>
{{ end }}
